@model _69CSI.Models.tbl_CSI_69_Con_RegistrationDetails
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<link href='css/css00000.css' rel='stylesheet' type='text/css'>*@
    <link href="~/Content/css00000.css" rel="stylesheet" />
    @*<link href="css/font-awesome.css" rel="stylesheet" type="text/css">*@
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/bootstrap.css" type="text/css">*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/selectiz.css" type="text/css">*@
    <link href="~/Content/selectiz.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/owl.css" type="text/css">*@
    <link href="~/Content/owl.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/vanillab.css" type="text/css">*@
    <link href="~/Content/vanillab.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/style.css" type="text/css">*@
    <link href="~/Content/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/timer.css" type="text/css" />*@
    <link href="~/Content/timer.css" rel="stylesheet" />
    <title>CSICON 2017, 69th Annual Conference of CSI, CSI Annual Conference, Cardiological Society of India</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/manifest.json">
    @*<link rel="alternate" type="application/rss+xml" title="ROR" href="ror.xml" />
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">*@
    <meta name="description" content="CSICON 2017, 69th Annual Conference of CSI, CSI Annual Conference, Cardiological Society of India">
    <meta name="keywords" content="CSICON 2017, 69th Annual Conference of CSI, CSI Annual Conference, Cardiological Society of India">
    <meta name="robots" content="index all,follow all">
    <meta name="google-site-verification" content="2frpmBAmfTe_MdboRbQusuBz9zW8qDS9N2PkdiyNiJg" />   
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>

<body class="page-homepage-carousel">
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Header -->
        <div class="navigation-wrapper">
            <div class="secondary-navigation-wrapper">
                <div class="container">
                    <div class="navigation-contact pull-left">Call Us:  <span class="opacity-70">+91 33 2355 6308 / 1500</span></div>

                    <ul class="secondary-navigation list-unstyled">
                        <li><a href="">Travel Guidelines</a></li>
                        <li><a href="contact.htm">Contact</a></li>
                    </ul>
                </div>
            </div><!-- /.secondary-navigation -->
            <div class="primary-navigation-wrapper">
                <header class="navbar" id="top" role="banner">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand nav" id="brand">
                                <a href="#"><img src="images/logo0000.png" alt="brand"></a>
                            </div>
                        </div>
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.htm">Home</a></li>
                                <li>
                                    <a href="javascript:void(0)" class=" has-child no-link">CSI 2017</a>
                                    <ul class="list-unstyled child-navigation">
                                        <li><a href="welcome.htm">Welcome Messages</a></li>
                                        <li><a href="#">Conference Highlights</a></li>
                                        <li><a href="core_committee.htm">Core Committee</a></li>
                                        <li><a href="advisory_committee.htm">Advisory Committee</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="has-child no-link">Venue</a>
                                    <ul class="list-unstyled child-navigation">
                                        <li><a href="about-kolkata.htm">About Kolkata</a></li>
                                        <li><a href="about-venue.htm">About the Venue</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="has-child no-link">Scientific Programme</a>
                                    <ul class="list-unstyled child-navigation">
                                        <li><a href="#">Main Session</a></li>
                                        <li><a href="#">Student / Fellow Session</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="has-child no-link">Faculty</a>
                                    <ul class="list-unstyled child-navigation">
                                        <li><a href="#">International</a></li>
                                        <li><a href="#">Domestic</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="has-child no-link">Accommodation</a>
                                    <ul class="list-unstyled child-navigation">
                                        <li><a href="airport-connectivity.htm">Airport &amp; Connectivity</a></li>
                                        <li><a href="hotels.htm">Hotels</a></li>
                                        <li><a href="weather.htm">Weather</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav><!-- /.navbar collapse-->
                    </div><!-- /.container -->
                </header><!-- /.navbar -->
            </div><!-- /.primary-navigation -->
            <div class="background">
                <img src="images/backgrou.png" alt="background">
            </div>
        </div>
        <!-- end Header -->
        <!-- Page Content -->
        <div id="page-content">
            <!-- Slider -->
            <div id="homepage-carousel">
                <div class="container">
                    <div class="homepage-carousel-wrapper">
                        <div class="row">
                            <div class="col-md-6 col-sm-7">
                                <div class="image-carousel">
                                    <div class="image-carousel-slide"><img src="images/slide-10.jpg" alt=""></div>
                                    <div class="image-carousel-slide"><img src="images/slide-20.jpg" alt=""></div>
                                    <div class="image-carousel-slide"><img src="images/slide-30.jpg" alt=""></div>
                                    <div class="image-carousel-slide"><img src="images/slide-40.jpg" alt=""></div>
                                    <div class="image-carousel-slide"><img src="images/slide-50.jpg" alt=""></div>
                                </div><!-- /.slider-image -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6 col-sm-5">
                                <div class="slider-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1>Welcome to 69th Annual Conference of Cardiological Society of India <span class="span">Kolkata, 30<sup>th</sup> Nov. to 3rd Dec. 2017</span></h1>
                                            <div class="clear-loading spinner">
                                                <span></span>
                                            </div>
                                            <ul class="countdown">
                                                <li>
                                                    <span class="days">00</span>
                                                    <p class="days_ref">days</p>
                                                </li>
                                                <li class="timer">:</li>
                                                <li>
                                                    <span class="hours">00</span>
                                                    <p class="hours_ref">hours</p>
                                                </li>
                                                <li class="timer">:</li>
                                                <li>
                                                    <span class="minutes">00</span>
                                                    <p class="minutes_ref">minutes</p>
                                                </li>
                                                <li class="timer">:</li>
                                                <li>
                                                    <span class="seconds">00</span>
                                                    <p class="seconds_ref">seconds</p>
                                                </li>
                                            </ul>

                                        </div><!-- /.col-md-12 -->
                                    </div><!-- /.row -->
                                </div><!-- /.slider-content -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                        <div class="background"></div>
                    </div><!-- /.slider-wrapper -->
                    <div class="slider-inner"></div>
                </div><!-- /.container -->
            </div>
            <!-- end Slider -->
            <!-- News, Events, About -->
            <div class="block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <section class="news-small" id="news-small">
                                <header>
                                    <h2>News</h2>
                                </header>
                                <div class="section-content">
                                    <!--article>
                                        <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                        <header><a href="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></header>
                                    </article-->
                                    <!-- /article -->
                                    <p style="font-size:24px;margin-bottom: 15px;margin-top: 10px;line-height: 1.5;color: inherit;">Kolkata beckons you in November to <br>December 2017</p><p><strong>Conference Venue </strong></p><h2>Science City, Kolkata</h2>

                                </div><!-- /.section-content -->
                                <!--a href="#" class="read-more">More</a-->
                            </section><!-- /.news-small -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4 col-sm-6">
                            <section class="events small" id="events-small">
                                <header>
                                    <h2>Downloads</h2>
                                </header>
                                <div class="section-content">
                                    <article class="event nearest">
                                        <figure class="date">
                                            <div class="col-md-3 col-xs-3">
                                                <h3 style="font-size:35px;"><i class="fa fa-newspaper-o" aria-hidden="true"></i></h3>
                                            </div>
                                            <div class="col-md-9 col-xs-9">
                                                <a href="pdf/RegFormCSICON2017.pdf" target="_blank" style="color:inherit;"><h3>Download Registration Form</h3></a>
                                            </div>
                                            <figure class="date">
                                    </article><!-- /article -->
                                    <article class="event nearest-second">
                                        <figure class="date">
                                            <div class="col-md-3 col-xs-3">
                                                <h3 style="font-size:35px;"><i class="fa fa-book" aria-hidden="true"></i></h3>
                                            </div>
                                            <div class="col-md-9 col-xs-9">
                                                <h3>Download E-Brochure</h3>
                                            </div>
                                        </figure>
                                    </article><!-- /article -->
                                    <article class="event">
                                        <figure class="date">
                                            <div class="col-md-3 col-xs-3">
                                                <h3 style="font-size:35px;"><i class="fa fa-desktop" aria-hidden="true"></i></h3>
                                            </div>
                                            <div class="col-md-9 col-xs-9">
                                                <a href=" ~/Registration/Create" @*target="_blank"*@ style="color:inherit;"> <h3>Online Registration</h3></a>
                                            </div>
                                        </figure>
                                    </article><!-- /article -->
                                    <div class="clearfix"></div>
                                </div><!-- /.section-content -->
                            </section><!-- /.events-small -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4 col-sm-12">
                            <section id="about">
                                <header>
                                    <h2>Welcome Messages</h2>
                                </header>
                                <div class="section-content">
                                    <div class="col-md-12 col-xs-6">

                                        <div class="data_bx">

                                            <img src="images/Dr.AmalBanerjee-large.jpg" class="img-responsive width-20" style="float:left">

                                            <div class="bx_name">
                                                <span>Chief Executive Advisor</span>
                                                Dr.Amal Kumar Banerjee
                                            </div><!-- bx_name -->
                                        </div>	<!-- data_bx -->


                                    </div>
                                    <div class="col-md-12 col-xs-6">

                                        <div class="data_bx">

                                            <img src="images/Dr.PKDeb-large.jpg" class="img-responsive width-20" style="float:left">

                                            <div class="bx_name">
                                                <span>Organizing Chairman</span>
                                                Dr. Pradip Kumar Deb
                                            </div><!-- bx_name -->
                                        </div>	<!-- data_bx -->


                                    </div>
                                    <div class="col-md-12 col-xs-6">

                                        <div class="data_bx">

                                            <img src="images/DrSantanuGuha-large.jpg" class="img-responsive width-20" style="float:left">

                                            <div class="bx_name">
                                                <span>Reception Committee Chairman</span>
                                                Dr. Santanu Guha
                                            </div><!-- bx_name -->
                                        </div>	<!-- data_bx -->


                                    </div>
                                    <div class="col-md-12 col-xs-6">

                                        <div class="data_bx">

                                            <img src="images/Dr-MK-Das2-large.jpg" class="img-responsive width-20" style="float:left">

                                            <div class="bx_name">
                                                <span>Organizing Secretary</span>
                                                Dr. Mrinal Kanti Das
                                            </div><!-- bx_name -->
                                        </div>	<!-- data_bx -->


                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <a href="welcome.htm" class="read-more">Read More</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div><!-- /.section-content -->
                            </section><!-- /.about -->
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>
            <!-- end News, Events, About -->
            <hr>
            <!-- Academic Life, Campus Life, Newsletter -->
            <div class="block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <section id="academic-life">
                                <header>
                                    <h2>Quick Links</h2>
                                </header>
                                <div class="section-content">
                                    <ul class="list-links">
                                        <li><a href="">Conference Highlights</a></li>
                                        <li><a href="core_committee.htm">Core Committee</a></li>
                                        <li><a href="advisory_committee.htm">Advisory Committee</a></li>
                                        <li><a href="">International Faculty</a></li>
                                        <li><a href="">Domestic Faculty</a></li>
                                        <li><a href="">Online Submission</a></li>
                                        <li><a href="hotels.htm">Accommodation</a></li>
                                    </ul>
                                </div><!-- /.section-content -->
                            </section><!-- /.academic-life -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4 col-sm-4">
                            <section id="campus-life">
                                <header>
                                    <h2>The CSI 2017 Mobile App</h2>
                                    <p>Get instant access along with other conference essentials for CSI 2017 Kolkata and every thing you will need to experience a memorable conference.</p>
                                </header>
                                <div class="section-content">
                                    <!--ul class="list-links">
                                        <li><a href="">You can browse the sessions by Day Topic or Speaker</a></li>
                                        <li><a href="">Scientific program constantly updated</a></li>
                                        <li><a href="">Create your personalized program</a></li>
                                    </ul-->
                                    <h3>Download App</h3>
                                    <img src="images/google-play.png" class="img-responsive pull-left googleStoreImg">
                                    <img src="images/appstore.png" class="img-responsive pull-left googleStoreImg">
                                </div><!-- /.section-content -->
                            </section><!-- /.campus-life -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4 col-sm-4">
                            <section id="newsletter">
                                <header>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
                                    <h2>User Login</h2>
                                    <div class="section-content">
                                        <div class="newsletter">
                                            <div class="input-group">
                                                <div class="vertical-offset-1">
                                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "User Name" })
                                                    @*<input type="text" class="form-control" placeholder="Your Name">*@
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="vertical-offset-1">
                                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                                                    @*<input type="text" class="form-control" placeholder="Password">*@
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="pull-left forgot"><a href="#">Forgot Password?</a></div>
                                                <button type="submit" id="slider-submit" class="btn btn-framed pull-right">Submit</button>
                                            </div><!-- /input-group -->
                                        </div><!-- /.newsletter -->

                                    </div><!-- /.section-content -->
}
                                </header>
                            </section><!-- /.newsletter -->
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>
            <!-- end Academic Life, Campus Life, Newsletter -->
            <!-- Divisions, Connect -->
            <div class="block" style="padding-bottom: 0;">
                <div class="container-fluid no-margin">
                    <div class="block-dark-background">
                        <div class="row">

                            <div class="col-md-12 no-margin">
                                <section id="connect" class="has-dark-background">
                                    <header>
                                        <h2>Conference Venue</h2>
                                    </header>
                                    <div class="connect-block">
                                        <div class="row">
                                            <div id="google-map">
                                                <div id="map"></div>
                                            </div>
                                            <!-- /.tab-content -->
                                        </div><!-- /.row -->
                                    </div><!-- /.section-content -->
                                </section><!-- #.divisions -->
                            </div><!-- /.col-md-9 -->
                        </div><!-- /.row -->
                    </div><!-- /.block-dark-background -->
                </div><!-- /.container -->
            </div>
            <!-- end Divisions, Connect -->
            <!-- Partners, Make a Donation -->
            <!-- end Partners, Make a Donation -->
        </div>
        <!-- end Page Content -->
        <!-- Footer -->
        <footer id="page-footer">

            <section id="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <aside>
                                <header><h4>Contact Us</h4></header>
                                <address>
                                    <strong style="color:#fff;">Dr. Mrinal Kanti Das, Organizing Secretary</strong>
                                    <br>
                                    <span>Indian Heart House, P-60, C.I.T Road, <br>Scheme - VII-M, Kankurgachi,</span>
                                    <br>
                                    <span>Kolkata - 700054, India</span>
                                    <br><br>
                                    <abbr title="Telephone">Telephone:</abbr> +91 33 2355 7837, 2355 6308, 2355 1500
                                    <br>
                                    <abbr title="Email">Email:</abbr> <a href="">secretary@csicon2017.org</a>
                                </address>
                            </aside>
                        </div><!-- /.col-md-3 -->
                        <div class="col-md-4 col-sm-4">
                            <aside>
                                <header><h4>Important Links</h4></header>
                                <ul class="list-links">
                                    <li><a href="hotels.htm">Accommodation</a></li>
                                    <li><a href="privacy.htm">Privacy Policy</a></li>
                                    <li><a href="terms.htm">Terms & Conditions</a></li>
                                    <li><a href="cancel.htm">Cancellation &amp; Refund Policy</a></li>
                                    <li><a href="contact.htm">Contact us</a></li>
                                </ul>
                            </aside>
                        </div><!-- /.col-md-3 -->
                        <div class="col-md-4 col-sm-4">
                            <aside>
                                <header><h4>About CSICON 2017</h4></header>
                                <p>
                                    All roads lead to Kolkata, India, the city of joy, city of palaces, a palpable mosaic of the old and new cultures and landscapes mutating with time. Mark the dates 30th November to 3rd December, 2017 on your calendar.
                                </p>
                                <div>
                                    <a href="about-csi.htm" class="read-more">More</a>
                                </div>
                            </aside>
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
                <div class="background"><img src="images/backgrou.png" class="" alt=""></div>
            </section><!-- /#footer-content -->

            <section id="footer-bottom">
                <div class="container">
                    <div class="footer-inner">
                        <div class="copyright">© 69th Annual Conference of Cardiological Society of India, All rights reserved</div><!-- /.copyright -->
                    </div><!-- /.footer-inner -->
                </div><!-- /.container -->
            </section><!-- /#footer-bottom -->

        </footer>
        <!-- end Footer -->

    </div>
    <!-- end Wrapper -->
    <div class="modal fade" id="news" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel">69<sup>th</sup> Annual Conference of CSI 30th November to 3rd December, 2017</h3>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr class="warning">
                                <td>CSI Member</td>
                                <td>INR 5,000</td>
                            </tr>
                            <tr class="success">
                                <td>Non CSI Member</td>
                                <td>INR 10,000</td>
                            </tr>
                            <tr class="warning">
                                <td>Accompanying Person</td>
                                <td>INR 10,000</td>
                            </tr>
                            <tr class="success">
                                <td>PG Students</td>
                                <td>INR 4,000</td>
                            </tr>
                            <tr class="warning">
                                <td>Industry Professional</td>
                                <td>INR 14,000</td>
                            </tr>
                            <tr class="success">
                                <td>Nurse / Technicians</td>
                                <td>INR 4,000</td>
                            </tr>
                            <tr class="warning">
                                <td>Non-SAARC Foreign Nationals</td>
                                <td>USD 500</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 style="color:#012951;">Registration Counter: At CSI Stall, Exhibition Arena, Le Meridien, Kochi, India</h4>
                    <h4>Draft/Cheque to be drawn in favour of <b>"69<sup>th</sup> Annual Conference of CSI 2017 Kolkata"</b></h4>
                    <h4>Money can be transferred by NEFT/RTGS:</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <h4><b>Name of A/C :</b></h4>
                        </div>
                        <div class="col-md-8">
                            <h4>69<sup>th</sup> Annual Conference of CSI 2017 Kolkata</h4>
                        </div>
                    </div>
                    <hr style="margin:7px 0;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4><b>Name of Bank :</b></h4>
                        </div>
                        <div class="col-md-8">
                            <h4>Allahabad Bank</h4>
                        </div>
                    </div>
                    <hr style="margin:7px 0;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4><b>Name of Branch :</b></h4>
                        </div>
                        <div class="col-md-8">
                            <h4>Ultadanga</h4>
                        </div>
                    </div>
                    <hr style="margin:7px 0;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4><b>Address :</b></h4>
                        </div>
                        <div class="col-md-8">
                            <h4>162/1, CIT Road, Scheme VII M, Kolkata-700054. West Bengal, India</h4>
                        </div>
                    </div>
                    <hr style="margin:7px 0;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4><b>IFSC Code :</b></h4>
                        </div>
                        <div class="col-md-8">
                            <h4>ALLA 0210 613</h4>
                        </div>
                    </div>
                    <hr style="margin:7px 0;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4><b>A/C No.</b></h4>
                        </div>
                        <div class="col-md-8">
                            <h4>50328622906</h4>
                        </div>
                    </div>
                    <hr style="margin:7px 0;">
                    <h3 style="font-size:13pt;color:#012951">Organizing Committee</h3>
                    <h2>69<sup>th</sup> Annual Conferences of CSI-2017</h2>
                </div>

            </div>
        </div>
    </div>
    @*<script type="text/javascript" src="js/jquery-2.js"></script>*@
    <script src="~/Scripts/jquery-2.js"></script>
    @*<script type="text/javascript" src="js/jquery-m.js"></script>*@
    <script src="~/Scripts/jquery-m.js"></script>
    @*<script type="text/javascript" src="js/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    @*<script type="text/javascript" src="js/selectiz.js"></script>*@
    <script src="~/Scripts/selectiz.js"></script>
    @*<script type="text/javascript" src="js/owl.js"></script>*@
    <script src="~/Scripts/owl.js"></script>
    @*<script type="text/javascript" src="js/jquery00.js"></script>*@
    <script src="~/Scripts/jquery00.js"></script>
    @*<script type="text/javascript" src="js/jquery01.js"></script>*@
    <script src="~/Scripts/jquery01.js"></script>
    @*<script type="text/javascript" src="js/jQuery02.js"></script>*@
    <script src="~/Scripts/jQuery02.js"></script>
    @*<script type="text/javascript" src="js/icheck00.js"></script>*@
    <script src="~/Scripts/icheck00.js"></script>
    @*<script type="text/javascript" src="js/jquery03.js"></script>*@
    <script src="~/Scripts/jquery03.js"></script>

    @*<script type="text/javascript" src="js/custom.js"></script>*@
    <script src="~/Scripts/custom.js"></script>

    @*<script type="text/javascript" src="js/jquery.downCount.js"></script>*@
    <script src="~/Scripts/jquery.downCount.js"></script>
    <script type="text/javascript">
        $('.countdown').downCount({
            date: '11/30/2017 12:00:00',
            offset: +10
        }, function () {
            alert('WOOT WOOT, done!');
        });
    </script>

    <style type="text/css">
        /* Set a size for our map container, the Google Map will take up 100% of this container */
        #map {
            width: 100%;
            height: 50vh;
        }

        .mp-head {
            color: #555;
        }

        #firstHeading {
            font-size: 20pt !important;
            padding-bottom: 0 !important;
            color: #555;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#map').click(function () {
                $('.gm-style').css("pointer-events", "auto");
            });

            $("#map").mouseleave(function () {
                $('.gm-style').css("pointer-events", "none");
            });
        });
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRPvYnc6Da15McC2HM9jzdDRCSFXohxwY"></script>
    <script type="text/javascript">

        // Create and Initialise the Map (required) our google map below

        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var isDraggable = $(document).width() > 640 ? true : false; // If document (your website) is wider than 480px, isDraggable = true, else isDraggable = false

            var mapOptions = {

                // How zoomed in you want the map to start at (always required)

                zoom: 13,
                draggable: isDraggable,
                scrollwheel: false,
                // The latitude and longitude to center the map (always required)

                center: new google.maps.LatLng(22.540119, 88.3938829), // Convention Centre

                // How you would like to style the map.
                // This is where you would paste any style found on [Snazzy Maps][1].
                // copy the Styles from Snazzy maps,  and paste that style info after the word "styles:"

                styles: [{ "elementType": "geometry", "stylers": [{ "hue": "#ff4400" }, { "saturation": -68 }, { "lightness": -4 }, { "gamma": 0.72 }] }, { "featureType": "road", "elementType": "labels.icon" }, { "featureType": "landscape.man_made", "elementType": "geometry", "stylers": [{ "hue": "#0077ff" }, { "gamma": 3.1 }] }, { "featureType": "water", "stylers": [{ "hue": "#00ccff" }, { "gamma": 0.44 }, { "saturation": -33 }] }, { "featureType": "poi.park", "stylers": [{ "hue": "#44ff00" }, { "saturation": -23 }] }, { "featureType": "water", "elementType": "labels.text.fill", "stylers": [{ "hue": "#007fff" }, { "gamma": 0.77 }, { "saturation": 65 }, { "lightness": 99 }] }, { "featureType": "water", "elementType": "labels.text.stroke", "stylers": [{ "gamma": 0.11 }, { "weight": 5.6 }, { "saturation": 99 }, { "hue": "#0091ff" }, { "lightness": -86 }] }, { "featureType": "transit.line", "elementType": "geometry", "stylers": [{ "lightness": -48 }, { "hue": "#ff5e00" }, { "gamma": 1.2 }, { "saturation": -23 }] }, { "featureType": "transit", "elementType": "labels.text.stroke", "stylers": [{ "saturation": -64 }, { "hue": "#ff9100" }, { "lightness": 16 }, { "gamma": 0.47 }, { "weight": 2.7 }] }]
            };



            var mapElement = document.getElementById('map');

            // Create the Google Map using out element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);

            // Following section, you can create your info window content using html markup

            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h3 id="firstHeading" class="firstHeading">Science City</h3>' +
                '<div id="bodyContent">' +
                '<p style="color:#555;"><b>Address: </b>Science City, J.B.S Haldane Avenue, Kolkata – 700046, India</p>' +
                '</div>' +
                '</div>';


            // Define the image to use for the map marker (58 x 44 px)

            var image = 'images/marker.png';

            // Define the Lattitude and Longitude for the map location

            var myLatLng = new google.maps.LatLng(22.540119, 88.3938829);

            // Define the map marker characteristics

            var mapMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image,
                title: 'Snazzy!'

            });

            // Following Lines are needed if you use the Info Window to display content when map marker is clicked

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            // Following line turns the marker, into a clickable button and when clicked, opens the info window

            google.maps.event.addListener(mapMarker, 'click', function () {
                infowindow.open(map, mapMarker);

            });

        }

    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-89261347-1', 'auto');
        ga('send', 'pageview');

    </script>

</body>
</html>
