@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>
            <input type="submit" value="submit" id="slider-submit" />
        </div>
    }
</body>
</html>
