@{
    ViewBag.Title = "billdesk";
    Layout = null;
    
}

@*<h2>billdesk</h2>*@
@*@Html.Partial("billdeskint")*@
@*<html>
    <head>
    </head>
    <body onload="document.form1.submit()">
        <form name="form1" method="Post" action="https://www.billdesk.com/pgidsk/PGIMerchantPayment">
            <input id='msg' name='msg' style='width: 1805px; height: 100px' type='text' value='CARDIOSOCT|14|NA|2.00|NA|NA|NA|INR|NA|NA|cardiosoct|NA|NA|NA|0|NA|NA|NA|NA|NA|NA|http://69thac.csi.org.in/home/thankyou|2814F49CBEE07FD1EDA590D3C75CABB1BB0D4E794C5DFDEB98161C759A53ADC1' />
        </form>
    </body>
    </html>*@